<ion-view>
  <ion-content>
    <ui-gmap-google-map center="dataHolder.mapCenter" zoom="dataHolder.map.zoom" options="dataHolder.options" refresh="dataHolder.map.refresh">
      <ui-gmap-map-type options="squaresMapType"></ui-gmap-map-type>
      <ui-gmap-circle center="dataHolder.circle.center" radius="dataHolder.circle.radius" visible="dataHolder.circle.visible" stroke="dataHolder.circle.stroke" fill="dataHolder.circle.fill"></ui-gmap-circle>
      <ui-gmap-marker
        idKey="dataHolder.marker.id"
        coords="dataHolder.marker.pos"
        options="dataHolder.marker.options"
      >
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
