<ion-view>
  <ion-content class="login-content">

    <ion-slide-box>
      <ion-slide>
        <p class="slider-header-placeholder">Discover nearby matches using your device</p>
        <div class="slider-image-placeholder">
          <div>
            <img src="/android_asset/www/img/888.png">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <p class="slider-header-placeholder">Be sure your location service is online</p>
        <div class="slider-image-placeholder">
          <div>
            <img src="/android_asset/www/img/022.png">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <p class="slider-header-placeholder">You can find matches around the world</p>
        <div class="slider-image-placeholder">
          <div>
            <img src="/android_asset/www/img/033.png">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>


    <div class="login-fb">
      <button ng-click="login()" class="button button-block button-positive">Login in with Facebook</button>
    </div>

    <div class="terms-footer">By signing in you agree with our <a ui-sref="terms">Terms os Sevice</a> and <a ui-sref="privacy">Privacy Policy</a></div>

  </ion-content>
</ion-view>
