<ion-view>
  <ion-content>

    <ion-slide-box>
      <ion-slide>
        <p class="slider-header-placeholder">Text 1</p>
        <div class="slider-image-placeholder">
          <div>
            Placeholder image 1
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <p class="slider-header-placeholder">Text 2</p>
        <div class="slider-image-placeholder">
          <div>
            Placeholder image 2
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <p class="slider-header-placeholder">Text 3</p>
        <div class="slider-image-placeholder">
          <div>
            Placeholder image 3
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>


    <div class="login-fb">
      <button ng-click="login()" class="button button-block button-positive">Login in with Facebook</button>
    </div>

  </ion-content>
</ion-view>
