<ion-tabs class="tabs-icon-center tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="ion-ios-navigate" icon-on="ion-ios-navigate" href="#/tab/dashboard">
    <ion-nav-view name="dashboard"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab/account">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab icon-off="ion-email-unread" icon-on="ion-email-unread" href="#/tab/notifications">
    <ion-nav-view name="notifications"></ion-nav-view>
  </ion-tab>


</ion-tabs>
